Checks:
'
abseil-*,
altera-*,
  -altera-unroll-loops,
  -altera-struct-pack-align,
android-*,
boost-*,
bugprone-*,
cert-*,
clang-analyzer-*,
concurrency-*,
cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
darwin-*,
fuchsia-*,
google-*,
  -google-objc-function-naming,
hicpp-*,
  -hicpp-deprecated-headers,
linuxkernel-*,
llvm-*,
  -llvm-else-after-return,
llvmlibc-*,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-restrict-system-libc-headers,
  -llvmlibc-callee-namespace,
misc-*,
modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-deprecated-headers,
mpi-*,
objc-*,
openmp-*,
performance-*,
portability-*,
readability-*,
  -readability-magic-numbers,
zircon-*,
'
CheckOptions:
  - key:             readability-function-cognitive-complexity.IgnoreMacros
    value:           'true'
  - key:             cppcoreguidelines-avoid-do-while.IgnoreMacros
    value:           'true'
